---
---
{% include_relative normalize.css %}

:root {
  --maximum-width: 1440px;
}

body {
  background: #FCE7E9;
  color: black;
  font-size: 18px;
  font-family: proxima-soft-condensed, sans-serif;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
}

.background-pink {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(252,231,233,1) 500px, white 700px, white);
}
.background-green {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(172, 213, 173,1) 300px, white 700px, white);
}
.background-orange {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(254, 234, 191,1) 300px, white 700px, white);
}

a {
  color: black;
  text-decoration: underline;
}
a:hover {
  color: #FCF594;
}
.header-link { text-decoration: none; display: block; margin-top: 25px }
.header-link:hover { color: black; }
.pink-link:hover {
  color: #F9BAC0;
}

h1, .header-link {
  font-family: moret, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 75px;
  line-height: 1;
}
h2, .work-group {
  display: inline-block;
  font-size: 35px;
  font-family: moret, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  margin: 0;
}
h2 span { display: block; }
.big-sub {
  font-size: 45px;
}

.home-image img {
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 15px;
}
.main-page {
  margin: 0 auto;
  max-width: var(--maximum-width);
  position: relative;
  z-index: 0;
}
.full-width-content img {
  display: block;
  height: auto;
  max-width: 100%;
}
.cta-link {
  font-weight: bold;
  text-decoration: none;
}

.work-home {
  margin:  50px auto;
  max-width: var(--maximum-width);
  overflow: auto;
  width:  100%;
}
.work-home div {
  box-sizing: border-box;
  float: left;
  height: 234px;
  padding:  4px;
  width: 33.3%;
}

.work-home a {
  display: block;
  height:  100%;
  position:  relative;
  overflow: hidden;
  width: 100%;
}

.work-home span {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  top: 0;
  transition: width .25s, height .25s, top .25s, left .25s;
}

.work-home a:hover span {
  left: -5%;
  height:  110%;
  width: 110%;
  top:  -5%;
}

.work-home .double-wide {
  width: 66.6%;
}

.work-home .tall {
  height: 468px;
}
.work-intro h2 { position: relative; }
.work-arrow {
  background:  url('/design-pods/img/squiggles/arrow_animate.svg') no-repeat;
  background-size: cover;
  height: 61px;
  right: -75px;
  position: absolute;
  width:  100px;
  bottom: -30px;
}

.work-group {
  position: relative;
}
.work-group br { display: none; }
.work-group span {
  background:  url('/design-pods/img/squiggles/work-group.svg') no-repeat;
  background-size: 35% 35%;
  height: 110px;
  left: -27px;
  position: absolute;
  width:  100px;
  top: -20px;
}
.back-to-all {
  font-weight: bold;
  position: sticky;
  margin-left: 20px;
  bottom: 35px;
}
.back-to-all a {
  background:  white;
}
.work-slides {
  padding: 55px 0 25px;
}
.work-slides img { margin-bottom: 30px; }
.work-slides p { margin: 0; }
.previous-next {
  margin: 0 0 30px;
  text-align: center;
  width: 100%;
}

.burger-smile {
  position: fixed;
  right: 45px;
  top: 50px;
}

main {
  margin:  0 auto;
  position: relative;
  width:  100%;
}

.home-intro {
  height: 340px;
  left:  0;
  margin:  0 auto;
  position: -webkit-sticky;
  position: sticky;
  width:  100%;
  max-width: var(--maximum-width);
  text-align: center;
  top:  0;
  z-index: -1;
}

.home-intro h1 {
  font-size: 75px;
  margin:  0;
  padding: 48px 0 0;
}

.home-image { text-align: center; }

#siteNav {
  z-index: 2;
}

.burger-balloon {
  background-image: url("{{ site.baseurl }}/img/balloon_nav.png");
  background-size: 100% 100%;
  display: inline-block;
  height: 142px;
  position: fixed;
  right: 10px;
  top: 16px;
  width: 139px;
  z-index: 1;
}
.burger-balloon img {
  height:  auto;
  left: calc(50% - 25px);
  position: absolute;
  top: calc(50% - 25px);
  width: 50px;
}

.home-burger-balloon {
  height: 142px;
  top: 38px;
  width: 139px;
}

.home-balloon-hero {
  background-image: url("{{ site.baseurl }}/img/balloon_hero_wide.png");
  background-position: bottom -50px center;
  background-repeat: no-repeat;
  background-size: auto 486px;
  height: 486px;
  margin-top: -400px;
  width: 100%;
}
.logo-container {
  margin:  0 auto;
  max-width: var(--maximum-width);
  padding-top: 100px;
  text-align: left;
  width:  100%;
}
.logo-container img {
  height: auto;
  width: 142px;
}

.section-hometop {
  height: 760px;
}
.section-hometop img {
  height: auto;
  left: 15px;
  position: absolute;
  top: 25px;
  width: 175px;
}
.balloon-hero {
  background-image: url("{{ site.baseurl }}/img/balloon_hero_wide.png");
  background-position: bottom -100px center;
  background-repeat: no-repeat;
  background-size: auto 960px;
  height: 760px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.section-intro {
  background: #FCF594;
}
.section-container {
  box-sizing: border-box;
  margin:  0 auto;
  max-width: var(--maximum-width);
  padding:  39px 10%;
}

.it-me {
  height: auto;
}

.section-work-teaser {
  background: white;
}
.section-work {
  background: #ACD5AD;
  margin-top: -620px;
  padding-top: 650px;
}
.section-work .home-image { margin-bottom: 15px; }

.work-samples div {
  height: 381px;
  margin-top: 20px;
}

.section-brands {
  background: white;
}
.section-brands .balloons {
  position: relative;
}
.section-brands .balloons img {
  margin-left: -80px;
}
.section-brands .balloons div {
  background: blue;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}

.section-brands ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  margin: 15px 0 0;
  max-width: 632px;
  padding: 0;
}
.section-brands li {
  margin: 0;
  padding: 0 5px;
}


.section-fullservice {
  background: #F9BAC0
}
.section-fullservice ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 15px auto 0;
  max-width: 400px;
  padding: 0;
  width: 78%;
}
.section-fullservice li {
  margin: 0;
  padding: 0;
  text-align: center;
  flex-basis: 50%;
  flex-shrink: 0;
  width: 50%;
}

.right-image {
  text-align: center;
}

.continue-link {
  font-size: 35px;
  font-family: moret, serif;
  font-weight: 400;
  font-style: normal;
}

footer {
  background: #FCE7E9;
  border-top: 2px solid black;
  margin:  0 auto;
  width: 100%;
}
footer .contact-list {
  max-width: var(--maximum-width);
}
.contact-list {
  list-style-type: none;
  overflow: auto;
  margin: 0;
  padding: 25px 0;
}
.contact-list li {
  display: inline;
  margin-left: 10px;
}

nav {
  background: #FEEB00;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}
.section-nav {
  font-family: moret, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18vw;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 15%;
  width: 100%;
}
nav ul { list-style-type: none; }
nav .contact-list {
  bottom: 5%;
  margin: 0 auto;
  position: fixed;
  width: 100%;
}
nav a:hover { color: #F9BAC0; }


.split-section { z-index: 1; }
.header-area {
  margin-top: 75px;
  text-align: center;
}
.header-area h1 {
  margin: 25px 0 0;
}
.intro-section {
  padding: 30px 25px 0;
  position: relative;
}

.about-hero {
  margin: -100px 0 0;
  position: relative;
  z-index: -1;
}

.work-sort {
  padding: 0;
  text-align: center;
  width: 100%;
}
.work-sort a:hover {
  color: #FDB927;
}
.work-sort li {
  display: inline;
  list-style-type: none;
  margin-right: 10px;
}
.work-sort li:last-child {
  margin-right: 0;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
}

.work-list li {
  width: 50%;
  flex-shrink: 0;
  margin: 10px 0;
  text-align: center;
}
.work-list img {
  margin: auto auto;
  max-width: 90%;
}

.work-services {
  text-transform: uppercase;
}

@media (min-width: 799px) {
  body { text-align: left; }
  h1, .header-link {
    font-size: 120px;
  }
  h2, .work-group {
    font-size: 65px;
  }
  .big-sub {
    font-size: 85px;
  }

  .section-nav {
    font-size: 8vw;
  }

  .home-intro {
    height: 600px;
  }
  .home-intro h1 {
    font-size: 12.5vw;
    padding: 100px 0 0;
  }
  .logo-container img {
    margin-left: 79px;
    top: 129px;
    width: 334px;
  }
  .burger-balloon {
    height: 187px;
    top: 40px;
    width: 200px;
  }
  .burger-balloon img {
    left: calc(50% - 35px);
    top: 60px;
    width: 65px;
  }
  .home-burger-balloon {
    height: 379px;
    top: 50px;
    width: 366px;
  }
  .home-burger-balloon img {
    left: calc(50% - 60px);
    top: 133px;
    width: 100px;
  }
  .home-balloon-hero {
    background-size: auto 960px;
    height: 900px;
    margin-top: -600px;
    width: 100%;
  }

  .continue-link {
    font-size: 39px;
  }

  .home-image img {
    height: auto;
    margin-bottom: 0;
    padding: 0 25px;
    width: 100%;
  }

  .section-container {
    padding: 39px 12%;
  }

  .section-container-wide {
    padding: 39px 10%;
  }

  .section-hometop {
    align-items: center;
    display: flex;
    height: 455px;
    padding-bottom: 305px;
  }

  .section-hometop img {
    left: 15px;
    position: absolute;
    top: 25px;
    width: 250px;
  }

  .section-hometop img {
    position: relative;
    width: 250px;
  }

  .intro-flex {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .flex-reverse {
    flex-direction: row-reverse;
  }

  .intro-flex div {
    flex: 1;
  }
  .intro-flex .narrow-image {
    flex: .5;
  }

  .home-dough {
    height: 530px;
    width: 499px;
  }

  .work-samples {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .work-samples div {
    height: auto;
    margin-top: 0px;
    max-width: 381px;
    width: 30%;
  }

  .work-samples img {
    height: auto;
    width: 100%;
  }

  .section-work {
    margin-top: -230px;
    padding-top: 260px;
  }

  .it-me {
    max-width: 325px;
    width: 100%;
  }

  .section-brands .balloons img {
    margin-left: 0;
  }

  .section-fullservice ul {
    margin-left: 0;
    margin-right: 0;
    min-width: 375px;
    width: 100%;
  }
  .section-fullservice li {
    flex-basis: 33%;
    text-align: left;
    width: 33%;
  }

  .magic-hat {
    align-self: flex-end;
  }
  .magic-hat img {
    margin-bottom: -30px !important;
    max-width: 425px;
  }

  .burger-smile {
    right: 90px;
    top: 70px;
  }

  footer {
    text-align: right;
  }
  footer .contact-list {
    margin: 0 auto;
    padding-right: 95px;
  }

  .split-section {
    display: flex;
  }

  .split-background {
    background: white;
    height: 100%;
    left: 40%;
    position: fixed;
    top: 0;
    width: 60%;
    z-index: -2;
  }

  .header-area {
    width: 40%;
    flex-shrink: 0;
  }
  .intro-section {
    padding: 170px 7% 0;
  }

  .about-hero {
    margin: -500px 0 0 -100px;
  }
  .contact-hero {
    margin-top: -500px;
    width: 60%;
  }

  .work-list {
    padding: 0 80px;
  }

  .work-list li {
    width: 33%;
    flex-shrink: 0;
    margin: 10px 0;
    text-align: center;
  }

  .work-home {
    margin: 100px 0;
  }

  .work-home div {
    height: 495px;
    padding:  8px;
  }

  .work-home .tall {
    height: 990px;
  }


  .work-group br { display: inline; }
  .work-group span {
    background-size: 100% 100%;
    height: 110px;
    left: -45px;
    width:  50px;
    top: -50px;
  }

  .work-slides {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1440px) {
  .home-intro h1 {
    font-size: 180px;
  }

  .burger-balloon {
    right:  calc((100% - 1440px) / 2 + 10px)
  }
}
