---
layout: base
---
<div class="split-background">&nbsp;</div>
<main class="main-page work-page">
  <div class="split-section">
    <div class="header-area">
      <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/lp_smile.svg" width="47" height="auto" alt="Lindsay Podrid"></a>
      <a class="header-link" href="{{ site.baseurl }}/work">Work</a>
    </div>
    <div class="intro-section">
      <h1 class="work-group"><span class="sub-squiggle squiggle-{% if page.squiggle %}{{ page.squiggle }}{% else %}1{% endif %}"></span>{{ page.headertext }}</h1>
      {{ page.intro | markdownify }}
    </div>
  </div>
  <div class="full-width-content work-slides">
    {{ content }}
  </div>
  <div class="back-to-all"><a href="{{ site.baseurl }}/work" class="continue-link">← Back to All Projects</a></div>
</main>
